:root {
    --strong: 9, 57, 70;
    --primary: 40, 94, 114;
    --secondary: 67, 112, 129;
    --tertiary: 112, 148, 165;
    --back: 243, 248, 245;
    --link: 206, 141, 101;
    --link-hover: 148, 102, 74;
}

body {
    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

nav div {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    text-wrap: nowrap;
}

nav ul li {
    padding: 0px 13px;
}

nav a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(var(--link));
}

nav a:hover {
    color: rgb(var(--link-hover));
}

header h1 {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    font-family: Cambria;
    color: rgb(var(--strong));
    border-bottom: 2px solid rgb(var(--strong));
    width: fit-content;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

main a {
    color: rgb(var(--strong));
}

main .card {
    background-color: rgba(var(--back), 0.5);
    border: 2px solid rgb(var(--strong));
    border-radius: 10px;
    width: 40ch;
    max-height: 20ch;
    margin: 15px 15px;
    padding: 0px 10px;
    font-family: "Philosopher";
    transition: 0.5s;
    overflow: hidden;
}

main .card:hover {
    scale: 1.05;
    background-color: rgba(var(--back), 0.8);
    box-shadow: 3px 3px 5px rgb(var(--strong));
}

main .card:not(.empty-body) h2 {
    width: fit-content;
    border-bottom: 2px solid rgb(var(--strong));
    color: rgb(var(--strong));
}

main .card .empty-body {
    display: flex;
    justify-content: center;
    color: rgb(var(--strong));
}

main .empty-body h2 {
    border-bottom: 2px solid rgb(var(--strong));
}


main p {
    font-size: 20px;
    text-indent: 4ch;
    word-wrap: break-word;
    hyphens: auto;
}

footer {
    display: flex;
    justify-content: center;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 12px;
}